@model ML.Usuario
@{
    ViewData["Title"] = "UpdatePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>RESTABLECE TU CONTRASEÑA</title>
    <link rel="stylesheet" type="text/css" href="~/css/Register.css" />
</head>
<body>
    <br />
    <h3>RESTABLECE TU CONTRASEÑA</h3>
    <hr />
    <div class="log-form">
        @using (Html.BeginForm("UpdatePassword", "Usuario", FormMethod.Post, new { enctype = "multipart/form-data", onsubmit = "return verifyPassword()" }))
        {
            <h2>Ingresa tu datos</h2>

            @Html.HiddenFor(model => model.Email)
            @Html.TextBoxFor(model => model.Password, new {@class = "form-control", @type = "text", @placeholder = "INGRESA NUEVA CONTRASEÑA", @required = "required", @id="password"})
            @Html.TextBoxFor(model => model.Password, new {@class = "form-control", @type = "text", @placeholder = "INGRESA NUEVAMENTE TU CONTRASEÑA", @required = "required", @id="confirmPassword"})
            <span id="message" style="color:red"> </span> <br>

            <br>
            <button type="submit" class="btn">Enviar</button>
            <a href="@Url.Action("Login","Usuario")" class="forgot">VOLVER</a>
        }
    </div>
</body>

</html>

<script type="text/javascript">
    function verifyPassword() {
        var password = document.getElementById("password").value;
        var confirmPassword = document.getElementById("confirmPassword").value;
        //check empty password field
        if (password !== confirmPassword) {
            document.getElementById("message").innerHTML = "*Las contraseñas no son iguales, verifica!";
            return false;
        }
        else 
        {
            return true;
        }
    }
</script>

           